{# app/Resources/views/default/submitted.html.twig #}
{% extends 'base.html.twig' %}
{% block meta %}
    http-equiv="refresh" content=" 3; url={{ path('select-all') }}"
{% endblock %}

{% block body %}
    <h1>Form Submit Success!</h1>
    <h2>Go to the products page after 3 seconds...</h2>
{% endblock %}
